@import "tailwindcss";

:root {
  /* --background: #e7ebf0; */
  --background:linear-gradient(30deg, rgba(231,235,240,1) 0%, rgb(235, 244, 255) 49%, rgb(223, 235, 252) 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {  
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background) no-repeat;;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100%;
  min-height: 100%;
}
